
/* Style sheet for Kate's professional website */

/* Color Palette:
		#174652
		#fdf6e3
		#2aa198
		#002b36		*/

body {
	background-color: #def3f6;
	color: black;
	font-family: "Garamond", "Baskerville", 
		"Baskerville Old Face", "Hoefler Text",
		"Times New Roman", sans-serif;
	font-size: 20px;
	margin: 0;
}

a:link {
	text-decoration: underline;
	color: #76b6c4;
}

a:visited {
	text-decoration: underline;
	color: #76b6c4;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Style the header */
.header {
	min-width: 925px;
	padding: 40px;
	text-align: center;
	margin: 0;
	border: 0;
	background-color: #174652;
	background-size: cover;
	font-family: "Garamond", "Baskerville", 
		"Baskerville Old Face", "Hoefler Text",
		"Times New Roman", sans-serif;
}

.headercont {
	margin-left: auto;
	margin-right: auto;
	width: 925px;
}

.headercont p.title {
	font-size: 40px;
	color: #fdf6e3;
	text-align: left;
	margin: 15px;
	border: 0;
	font-style: bold;
}

.headercont p.subtitle {
	font-size: 20px;
	color: #2aa198;
	text-align: left;
	margin: 15px;
	border: 0;
}

/* Signature footer */
.footer {
	padding: 0;
	color: #888888;
	margin: 0;
	background-color: #def3f6;
	border: 0;
	width: 100%;
	text-align: center;
	font-size: 8px;
}

/* Boxes for content */
.container {
	color:#002b36;
	width: 925px;
	display:block;
	overflow: auto;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: left;
	background-color: #def3f6;
	padding-bottom: 10px;
}

.bodycontainer {
	float: left;
	margin: 20px;
	width: 880px;
	height: auto;
	min-height: 500px;
	padding: 10px;
	padding-top: 0;
	background-color: #def3f6;
}

.bodycontainer img.portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.bodycontainer img.wide {
	float: left;
	width: 270px;
	height: 133px;
	padding: 5px;
}


/* Navigation bar*/
ul.navi {
	width: 100%;
	padding: 5px;
	margin: 0;
	margin-top: 10px;
	background-color: #def3f6;
	font-size: 85%;
	text-align: left;
}

ul.navi li {
	display: inline-block;
	margin: 5px;
	width: 100%;
}


ul.navi li a {
	width: 140px;
	text-align: left;
	background-color: #def3f6;
	float: center;
}


ul.navi li a:hover:not(.active) {
    color: #2aa198;
}

ul.navi li a:link {
    text-decoration: underline;
    color: #174652;
}

ul.navi li a:visited {
    text-decoration: underline;
    color: #174652;
}

/* Navi vs body columns*/
.navicolumn {
	float: left;
	width: 10%;
}

.bodycolumn {
	float: left;
	width: 90%;
}

/* In-body Columns */

.column_2 {
	margin: 0;
	float: left;
	width: 50%;
}

.column_3_1 {
	margin: 0;
	float: left;
	width: 33%;
}

.column_3_2 {
	margin: 0;
	float: left;
	width: 67%;
}

.column_4_1 {
	margin: 0;
	float: left;
	width: 25%;
}

.column_4_3 {
	margin: 0;
	float: left;
	width: 75%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Table for classes */
table.classes {
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}

table.classes td, th {
	border: 1px solid #0a718a;
	text-align: left;
	padding: 5px;
}

table.classes tr:first-child {
	background-color: #def3f6;
}

a.links:hover:not(.active) {
    color: #2aa198;
}

a.links:link {
    text-decoration: underline;
    color: #174652;
}

a.links:visited {
    text-decoration: underline;
    color: #174652;
}